body {
    background-image: url("https://fm.cnbc.com/applications/cnbc.com/resources/img/editorial/2017/06/20/104540684-GettyImages-530874379.1910x1000.jpg");
    background-color:; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;} 

h1  {
    font-style: oblique;
    color: white; 
}
h2 { font-style: oblique;
     color: white; 
  
}
p { color: white ; 
   font-style: oblique;

}
h3{  color: white ; 
   font-style: oblique;
}
